html {
  font-family: sans-serif;
}

body {
  width: 300px;
  max-width: 750px;
  min-width: 480px;
  margin: 0 auto;
  background-color: #212121;
}

nav {
  padding: 15px;
  text-align: center;
}

nav a {
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 7px 15px;
  text-decoration: none;
  font-size: 20px;
  margin: 0 15px;
}

.lastResult {
  color: white;
  padding: 7px;
}

.guesses {
  color: white;
  padding: 7px;
}

button {
  background-color: #141414;
  color: #fff;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  border-style: none;
  margin-top: 30px;
  /* margin-left: 50px; */
}

#subt,
#newGame {
  background-color: #161616;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  margin-top: 50px;
  /* margin-left: 75px; */
  cursor: pointer;
}

#guessField {
  color: #000;
  width: 250px;
  height: 50px;
  font-size: 30px;
  border-style: none;
  margin-top: 25px;
  /* margin-left: 50px; */
  border: 5px solid #6c6d6d;
  text-align: center;
}

#guess {
  font-size: 55px;
  /* margin-left: 90px; */
  margin-top: 120px;
  color: #fff;
}

.guesses {
  background-color: #7a7a7a;
}

#wrapper {
  box-sizing: border-box;
  text-align: center;
  width: 450px;
  min-height: 720px;
  background-color: #474747;
  color: #fff;
  font-size: 25px;
  border-radius: 16px;
  padding-bottom: 30px;
  /* overflow: hidden; */
}

h1 {
  background-color: #161616;
  padding: 20px 0;
  color: #fff;
  text-align: center;
  border-radius: 16px 16px 0 0;
}

p {
  font-size: 16px;
  text-align: center;
}
