html {
  margin: 0;
}

span {
  display: block;
}
.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

.navbar {
    width: auto;
    text-align: center;
    margin-top: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 0 15px;
    border: solid black 2px;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    background-color: aquamarine;
}

.container {
  text-align: center;
  margin-top: 200px;
}

.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
  cursor: pointer;
  margin: 2px;
  border-radius: 8px;
}

#grey {
  background: grey;
}

#white {
  background: white;
}
#blue {
  background: blue;
}
#yellow {
  background: yellow;
}
#green {
  background: green;
}
#red {
  background: red;
}
#black {
  background: black;
}
#purple {
  background: purple;
}
#pink {
  background: pink;
}
#orange {
  background: orange;
}
